*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color:rgb(232, 218, 186);
}

h1{
<<<<<<< HEAD
    transform: scale(1,1);
    transition: 5s;
=======
    transition: 5s;
    transform: scale(1,1);
>>>>>>> rama2
    padding: 40px;
    color: rgb(63, 106, 223);
    text-align: center;
    text-decoration: underline;
    font-size: 70px;
    font-weight: bold;
    font-family: bangers;
}

.menu{
<<<<<<< HEAD
    background-image: linear-gradient(to right, rgba(83, 127, 248, 0.275), rgb(0, 130, 244));
=======
    transition: 8s;
    transform: scale(1,1);
    background-image:linear-gradient(to left, rgb(5, 111, 192), rgb(39, 54, 69));
>>>>>>> rama2
    font-style: italic;
    margin: 10px;
    padding:20px;
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

a{
<<<<<<< HEAD
<<<<<<< HEAD
    transform: translate(1px, 2px);
    transition: 9s;
    color:rgb(56, 90, 181);
=======

=======
>>>>>>> rama2
    color:rgb(94, 137, 255);
>>>>>>> rama2
    font-size: 20px;
    margin: 15px;
}

.menu ul li{
    text-decoration: none;
    list-style-type:none;
    display: inline-block;
    position: relative;
}

.imgportada {
<<<<<<< HEAD
<<<<<<< HEAD
    display: flex;
    justify-content: center;
    height: 300px;
    margin-left: 15px;
    transition: 2s;
}
.imgportada:hover{
    height: 400px;
=======
    
    width: 100px;
    
>>>>>>> rama2
=======
    width: 100px;
>>>>>>> rama2
}

.menu ul li:hover{
    background-color: rgb(155, 177, 250);
    font-size:20px;
    color: rgb(94, 137, 255);
}

.sub-menu{
    display: none;
    position:inherit;
    padding: 5px;
}

.menu ul li:hover > ul{
    display: block;
    background-color: rgb(195, 243, 253);
}

h2{
    margin-top: 50px;
    margin-left: 250px;
    color:rgb(94, 137, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
    color: rgb(0, 192, 251);
    margin: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contactos li {
    margin: 30px;
    padding: 30px;
    display:inline-block;
    position:relative;
}

h4{
    color: rgb(57, 142, 232);
    font-family: bangers;
    font-size:larger;
}

.tabla { 
    text-align: center;
    background-color: rgb(113, 119, 140);
    font-size:large;
    color: rgb(0, 192, 251);
    margin: 60px;
}

p{
    padding: 25px;
    color: rgb(127, 143, 194);
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.formulario{
    margin: 25px;
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    text-align:end;
    background-color: rgb(195, 243, 253);
    color: rgb(63, 106, 223);
    font-size: smaller ;
    font-style: italic;
    font-family: bangers;
}

.imgBrindis{
    margin-left: 100px;
    width: 300px;
<<<<<<< HEAD
    animation-name: efect;
    animation-iteration-count: infinite;
    animation-duration: 5s;

}

@keyframes efect {
    0%{width: 100px;}
    0.2s{width: 50px}
    
=======
    margin-left: 150px;
    animation-name: efect;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}

@keyframes efect {
    0% { width:100px}
    50% {width: 150px;}
    100% { width: 300px;}
>>>>>>> rama2
}

.imgCont{   
    margin: 40px;
    width: 50px;
    height: 50px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-areas: "header header header"
                            "menu menu menu"
                        "main main main"
<<<<<<< HEAD
                         "combos combos  video"
=======
                         "combos combos video"
>>>>>>> rama2
                         "footer footer footer";
}         

header{grid-area: header;
        background-color: rgb(122, 189, 220);}
.menu{grid-area: menu;}
main{grid-area: main;}
.combos{grid-area: combos;}
.video{grid-area: video}
footer{grid-area: footer;}
